In [1]:
import requests
import pandas as pd

In [2]:
#download eTSS positions
url = 'https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/zfh1_genome-wide_eTSS.txt'
r = requests.get(url, allow_redirects=True)

open('zfh1_genome-wide_eTSS.txt','wb').write(r.content)

eTSS = pd.read_csv('zfh1_genome-wide_eTSS.txt', sep="\t", header=None)
eTSS.columns = ["chr", "start", "end", "TSS_num","strand"]
eTSS.head()

     chr  start    end    TSS_num strand
0  chr2L  12815  12816  TSS_10945      +
1  chr2L  59243  59244   TSS_5268      -
2  chr2L  67043  67044   TSS_2980      +
3  chr2L  72599  72600   TSS_6539      +
4  chr2L  84184  84185  TSS_11273      -

In [3]:
#download zfh1 count, ctrl count and enhancer-responsiveness
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/plus_1_pos.txt"
r = requests.get(url, allow_redirects=True)

open('plus_1_pos.txt','wb').write(r.content)

eTSSrpve = pd.read_csv('plus_1_pos.txt', sep="\t", header=None)[1:]
eTSSrpve.columns = ["chr", "start", "end", "TSS_num","strand","zfh1_count","ctrl_count","responsiveness"]
eTSSrpve.head()

     chr  start    end    TSS_num strand zfh1_count ctrl_count responsiveness
1  chr2L  12815  12816  TSS_10945      +          5          0  1.75509432621
2  chr2L  59243  59244   TSS_5268      -         14          0  3.71122827673
3  chr2L  67043  67044   TSS_2980      +         39          1  9.17713509827
4  chr2L  72599  72600   TSS_6539      +         10          0  2.83881166131
5  chr2L  84184  84185  TSS_11273      -          5          0  1.75509432621

In [4]:
#download subthreshold position

sub='4'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub4 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='3'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub3 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='2'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub2 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

colnames = ["chr", "start", "end", "TSS_num","strand","zfh1_count","responsiveness"]
    
sub4.columns = colnames
sub3.columns = colnames
sub2.columns = colnames
sub2.head()

     chr  start    end      TSS_num  strand zfh1_count  responsiveness
0  chr2L  12727  12828  position_13       2          +        1.134346
1  chr2L  14619  14720  position_24       2          +        1.134346
2  chr2L  14726  14827  position_25       2          +        1.134346
3  chr2L  14765  14866  position_26       2          -        1.134346
4  chr2L  21731  21832  position_31       2          -        1.134346

In [5]:
#download random positions
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_random.txt"
r = requests.get(url, allow_redirects=True)
open("positions_random.txt",'wb').write(r.content)
rand_pos = pd.read_csv("positions_random.txt", sep="\t", header=None)

rand_pos.columns = ["chr", "start", "end", "TSS_num","null","strand","responsiveness"]
rand_pos.head()

     chr  start    end TSS_num  null strand  responsiveness
0  chr2L  39268  39369  rTSS_1     1      -             1.0
1  chr2L  54484  54585  rTSS_3     1      +             1.0
2  chr2L  54812  54913  rTSS_4     1      -             1.0
3  chr2L  68702  68803  rTSS_5     1      +             1.0
4  chr2L  70511  70612  rTSS_6     1      +             1.0

In [ ]:
#download the sequence around the TSSes
!grabSequences_220920.sh

In [6]:
df2 = pd.read_csv('positons_zfh1_2_seq.txt.gz', compression='gzip', header=None,sep='\t')
df3 = pd.read_csv('positons_zfh1_3_seq.txt.gz', compression='gzip', header=None,sep='\t')
df4 = pd.read_csv('positons_zfh1_4_seq.txt.gz', compression='gzip', header=None,sep='\t')
df_eTSS = pd.read_csv('zfh1_genome-wide_eTSS_seq.txt.gz', compression='gzip', header=None,sep='\t')
df2.head()

,0,1,2,3,4,5
0,chr2L,12678,12878,position_13,2,ACCGGCGTTCAGCTGATCGACAGGGCTACCCGCCTGATCAAAAATA...
1,chr2L,14570,14770,position_24,2,GTACGACTTCAGAAGCAAGGTAATTGCAAGTGACAGCTGATGCATG...
2,chr2L,14677,14877,position_25,2,CAGAGTTCCTCTTCAAGTAGTACAACAAGAACTTCAGCGACATCTC...
3,chr2L,14716,14916,position_26,2,CACAAAGTTTTTTAGATGTGTACTAATTTCTCGTTCTTTTAGATCC...
4,chr2L,21682,21882,position_31,2,CTTTAGTGCACATGAAATTATATGTATTGAAATAAAAAGTTTGATG...

In [8]:
df_eTSS.head(1)

,0,1,2,3,4,5
0,chr2L,12766,12866,TSS_10945,+,TTAGCAAGCTGCGCAGAAATTCGGCGGGGCATGTGTGGTGGTGCAT...

In [9]:
df_eTSS.columns=["chr", "start", "end", "TSS_num","strand","sequence"]
df_eTSS.head(1)

,chr,start,end,TSS_num,strand,sequence
0,chr2L,12766,12866,TSS_10945,+,TTAGCAAGCTGCGCAGAAATTCGGCGGGGCATGTGTGGTGGTGCAT...

In [14]:
#convert into 5mers
mers=5

ValueError: Length of values (2644) does not match length of index (13218)

In [27]:
#chop the sequence into 5-mers
mers=5
def chopseq(line):return [line[i:i+mers] for i in range(0, len(line), mers)]

In [48]:
df_eTSS['five_mers']=df_eTSS['sequence'].map(chopseq)

In [49]:
df_eTSS

,chr,start,end,TSS_num,strand,sequence,five_mers
0,chr2L,12766,12866,TSS_10945,+,TTAGCAAGCTGCGCAGAAATTCGGCGGGGCATGTGTGGTGGTGCAT...,"[TTAGC, AAGCT, GCGCA, GAAAT, TCGGC, GGGGC, ATG..."
1,chr2L,59194,59294,TSS_5268,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC..."
2,chr2L,66994,67094,TSS_2980,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...,"[TGTGT, GAGTG, GTGAG, TGTAA, TGGCA, AACGG, CAG..."
3,chr2L,72550,72650,TSS_6539,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...,"[AAAAC, CGCAT, TTGCA, TCGGG, TAAAA, TCGGT, AAC..."
4,chr2L,84135,84235,TSS_11273,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...,"[CCAGT, TCGGA, AAGCG, AAGGC, GGAGA, CGACT, TGG..."
...,...,...,...,...,...,...,...
13213,chrYHet,297905,298005,TSS_9362,+,AAAAAAAAGGTCGGCGGCCTCTGCGTGGCCGAGTCAATCCCAGTAC...,"[AAAAA, AAAGG, TCGGC, GGCCT, CTGCG, TGGCC, GAG..."
13214,chrYHet,299102,299202,TSS_10869,+,GGCTGCGGAAGCAGAGTCAACTGCGTCTGCAGTGCTGTGTCCATAC...,"[GGCTG, CGGAA, GCAGA, GTCAA, CTGCG, TCTGC, AGT..."
13215,chrYHet,300828,300928,TSS_9363,+,GCAACAGAGGCGTCTCTTAGGTGCGAGCGGCAGCACTGGTGACAGT...,"[GCAAC, AGAGG, CGTCT, CTTAG, GTGCG, AGCGG, CAG..."
13216,chrYHet,340903,341003,TSS_6100,+,TTGAGCTATCGAAAAAGCCCGCCTACGCTCCTAGCCTAAATTTGCA...,"[TTGAG, CTATC, GAAAA, AGCCC, GCCTA, CGCTC, CTA..."
13217,chrYHet,344384,344484,TSS_10870,-,AAGCAATGTATGTGCGGGTTAGCTGAACCCAACTTCAGCACACTTT...,"[AAGCA, ATGTA, TGTGC, GGGTT, AGCTG, AACCC, AAC..."