In [71]:
import requests
import pandas as pd
import numpy as np

In [2]:
# Download zfh1 count, ctrl count and enhancer-responsiveness
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/plus_1_pos.txt"
r = requests.get(url, allow_redirects=True)

open('plus_1_pos.txt','wb').write(r.content)

eTSSrpve = pd.read_csv('plus_1_pos.txt', sep="\t", header=None)[1:]
eTSSrpve.columns = ["chr", "start", "end", "TSS_num","strand","zfh1_count","ctrl_count","responsiveness"]
eTSSrpve.head()

     chr  start    end    TSS_num strand zfh1_count ctrl_count responsiveness
1  chr2L  12815  12816  TSS_10945      +          5          0  1.75509432621
2  chr2L  59243  59244   TSS_5268      -         14          0  3.71122827673
3  chr2L  67043  67044   TSS_2980      +         39          1  9.17713509827
4  chr2L  72599  72600   TSS_6539      +         10          0  2.83881166131
5  chr2L  84184  84185  TSS_11273      -          5          0  1.75509432621

In [3]:
#download subthreshold position

sub='4'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub4 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='3'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub3 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='2'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub2 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

colnames = ["chr", "start", "end", "TSS_num","zfh1_count","strand","responsiveness"]
    
sub4.columns = colnames
sub3.columns = colnames
sub2.columns = colnames
sub2.head()

     chr  start    end      TSS_num  zfh1_count strand  responsiveness
0  chr2L  12727  12828  position_13           2      +        1.134346
1  chr2L  14619  14720  position_24           2      +        1.134346
2  chr2L  14726  14827  position_25           2      +        1.134346
3  chr2L  14765  14866  position_26           2      -        1.134346
4  chr2L  21731  21832  position_31           2      -        1.134346

In [4]:
#download random positions
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_random.txt"
r = requests.get(url, allow_redirects=True)
open("positions_random.txt",'wb').write(r.content)
rand_pos = pd.read_csv("positions_random.txt", sep="\t", header=None)

rand_pos.columns = ["chr", "start", "end", "TSS_num","null","strand","responsiveness"]
rand_pos.head()

     chr  start    end TSS_num  null strand  responsiveness
0  chr2L  39268  39369  rTSS_1     1      -             1.0
1  chr2L  54484  54585  rTSS_3     1      +             1.0
2  chr2L  54812  54913  rTSS_4     1      -             1.0
3  chr2L  68702  68803  rTSS_5     1      +             1.0
4  chr2L  70511  70612  rTSS_6     1      +             1.0

In [ ]:
#download the sequence around the TSSes
!grabSequences_220920.sh

In [79]:
df2 = pd.read_csv('positons_zfh1_2_seq.txt.gz', compression='gzip', header=None,sep='\t')
df3 = pd.read_csv('positons_zfh1_3_seq.txt.gz', compression='gzip', header=None,sep='\t')
df4 = pd.read_csv('positons_zfh1_4_seq.txt.gz', compression='gzip', header=None,sep='\t')
df_eTSS = pd.read_csv('plus_1_pos_seq.txt.gz', compression='gzip',sep='\t')
df2.head()

,0,1,2,3,4,5
0,chr2L,12678,12878,position_13,2,ACCGGCGTTCAGCTGATCGACAGGGCTACCCGCCTGATCAAAAATA...
1,chr2L,14570,14770,position_24,2,GTACGACTTCAGAAGCAAGGTAATTGCAAGTGACAGCTGATGCATG...
2,chr2L,14677,14877,position_25,2,CAGAGTTCCTCTTCAAGTAGTACAACAAGAACTTCAGCGACATCTC...
3,chr2L,14716,14916,position_26,2,CACAAAGTTTTTTAGATGTGTACTAATTTCTCGTTCTTTTAGATCC...
4,chr2L,21682,21882,position_31,2,CTTTAGTGCACATGAAATTATATGTATTGAAATAAAAAGTTTGATG...

In [80]:
df_eTSS.columns=['chr','start','end','TSS_num','responsiveness','strand','sequence']
df_eTSS.head()

,chr,start,end,TSS_num,responsiveness,strand,sequence
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...
1,chr2L,66994,67094,TSS_2980,9.177135,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...
2,chr2L,72550,72650,TSS_6539,2.838812,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...
3,chr2L,84135,84235,TSS_11273,1.755094,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...
4,chr2L,87332,87432,TSS_2518,12.021107,-,GAAGCCAGCCGGTCCCTGGCGCAGGCCATTTCAATCCGCAAGATAT...

In [81]:
#convert into 5mers
#chop the sequence into 5-mers
mers=5
def chopseq(line):return [line[i:i+mers] for i in range(0, len(line), mers)]

df_eTSS['five_mers_list']=df_eTSS['sequence'].map(chopseq)

#convert list of 5-mers into a long string with spaces in between
def listToString(s):  
    # initialize an empty string 
    str1 = " " 
    # return string   
    return (str1.join(s)) 

# df_eTSS['five_mers_str']=df_eTSS['five_mers_list'].map(listToString)

#remove nucleotide shorter than 5-mers
def remove_short(line):
    new_string = ' '.join([w for w in line.split() if len(w)==mers])
    return new_string

# df_eTSS['five_mers_str']=df_eTSS['five_mers_str'].map(remove_short)

df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC..."

In [82]:
# Create all possible permutations of ACTG for five-mers
from itertools import permutations
nucleotides = ['A', 'C', 'T', 'G']
five_mers = []
for pos1 in nucleotides:
    for pos2 in nucleotides:
        for pos3 in nucleotides:
            for pos4 in nucleotides:
                for pos5 in nucleotides:
                    five_mers.append(pos1 + pos2 + pos3 + pos4 + pos5)

five_mers_dict = {}
for idx, mer in enumerate(five_mers):
    five_mers_dict[mer] = idx

In [83]:
df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC..."

In [84]:
def map_five_mers(five_mers_list):
    mer_idx = []
    for mer in five_mers_list:
        if(mer in five_mers_dict):
            mer_idx.append(five_mers_dict[mer])
        else:
            mer_idx.append(np.nan)
    return mer_idx

In [85]:
df_eTSS['five_mers_list_idx']=df_eTSS['five_mers_list'].map(map_five_mers)

In [87]:
df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_list_idx
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...","[26, 1003, 879, 439, 429, 332, 921, 49, 103, 6..."

In [110]:
df = df_eTSS.copy()
df = df[['responsiveness', 'five_mers_list_idx']]
df.head()

   responsiveness                                 five_mers_list_idx
0        3.711228  [26, 1003, 879, 439, 429, 332, 921, 49, 103, 6...
1        9.177135  [750, 827, 947, 736, 756, 31, 308, 74, 554, 47...
2        2.838812  [1, 466, 692, 639, 512, 638, 21, 294, 692, 569...
3        1.755094  [334, 636, 55, 61, 972, 454, 761, 924, 839, 47...
4       12.021107  [781, 309, 997, 445, 847, 330, 578, 372, 200, ...

In [ ]:
# conver the features into separate columns

In [91]:
labels = np.array(df['responsiveness'])
labels

array([3.71122828, 9.1771351 , 2.83881166, ..., 2.18672551, 3.27477719,
       1.97038325])

In [93]:
features = df.drop('responsiveness', axis = 1)
features

                                      five_mers_list_idx
0      [26, 1003, 879, 439, 429, 332, 921, 49, 103, 6...
1      [750, 827, 947, 736, 756, 31, 308, 74, 554, 47...
2      [1, 466, 692, 639, 512, 638, 21, 294, 692, 569...
3      [334, 636, 55, 61, 972, 454, 761, 924, 839, 47...
4      [781, 309, 997, 445, 847, 330, 578, 372, 200, ...
...                                                  ...
13212  [0, 15, 637, 982, 439, 757, 825, 37, 312, 382,...
13213  [987, 496, 844, 912, 439, 621, 237, 750, 328, ...
13214  [833, 207, 486, 419, 951, 223, 308, 446, 787, ...
13215  [691, 393, 768, 213, 856, 473, 397, 384, 685, ...
13216  [52, 184, 749, 1018, 219, 21, 26, 308, 282, 71...

[13217 rows x 1 columns]

In [95]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [96]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

ValueError: setting an array element with a sequence.