In [1]:
import requests
import pandas as pd

In [2]:
#download zfh1 count, ctrl count and enhancer-responsiveness
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/plus_1_pos.txt"
r = requests.get(url, allow_redirects=True)

open('plus_1_pos.txt','wb').write(r.content)

eTSSrpve = pd.read_csv('plus_1_pos.txt', sep="\t", header=None)[1:]
eTSSrpve.columns = ["chr", "start", "end", "TSS_num","strand","zfh1_count","ctrl_count","responsiveness"]
eTSSrpve.head()

     chr  start    end    TSS_num strand zfh1_count ctrl_count responsiveness
1  chr2L  12815  12816  TSS_10945      +          5          0  1.75509432621
2  chr2L  59243  59244   TSS_5268      -         14          0  3.71122827673
3  chr2L  67043  67044   TSS_2980      +         39          1  9.17713509827
4  chr2L  72599  72600   TSS_6539      +         10          0  2.83881166131
5  chr2L  84184  84185  TSS_11273      -          5          0  1.75509432621

In [4]:
#download subthreshold position

sub='4'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub4 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='3'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub3 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='2'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub2 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

colnames = ["chr", "start", "end", "TSS_num","zfh1_count","strand","responsiveness"]
    
sub4.columns = colnames
sub3.columns = colnames
sub2.columns = colnames
sub2.head()

     chr  start    end      TSS_num  strand zfh1_count  responsiveness
0  chr2L  12727  12828  position_13       2          +        1.134346
1  chr2L  14619  14720  position_24       2          +        1.134346
2  chr2L  14726  14827  position_25       2          +        1.134346
3  chr2L  14765  14866  position_26       2          -        1.134346
4  chr2L  21731  21832  position_31       2          -        1.134346

In [5]:
#download random positions
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_random.txt"
r = requests.get(url, allow_redirects=True)
open("positions_random.txt",'wb').write(r.content)
rand_pos = pd.read_csv("positions_random.txt", sep="\t", header=None)

rand_pos.columns = ["chr", "start", "end", "TSS_num","null","strand","responsiveness"]
rand_pos.head()

     chr  start    end TSS_num  null strand  responsiveness
0  chr2L  39268  39369  rTSS_1     1      -             1.0
1  chr2L  54484  54585  rTSS_3     1      +             1.0
2  chr2L  54812  54913  rTSS_4     1      -             1.0
3  chr2L  68702  68803  rTSS_5     1      +             1.0
4  chr2L  70511  70612  rTSS_6     1      +             1.0

In [ ]:
#download the sequence around the TSSes
!grabSequences_220920.sh

In [2]:
df2 = pd.read_csv('positons_zfh1_2_seq.txt.gz', compression='gzip', header=None,sep='\t')
df3 = pd.read_csv('positons_zfh1_3_seq.txt.gz', compression='gzip', header=None,sep='\t')
df4 = pd.read_csv('positons_zfh1_4_seq.txt.gz', compression='gzip', header=None,sep='\t')
df_eTSS = pd.read_csv('plus_1_pos_seq.txt.gz', compression='gzip',sep='\t')
df2.head()

,0,1,2,3,4,5
0,chr2L,12678,12878,position_13,2,ACCGGCGTTCAGCTGATCGACAGGGCTACCCGCCTGATCAAAAATA...
1,chr2L,14570,14770,position_24,2,GTACGACTTCAGAAGCAAGGTAATTGCAAGTGACAGCTGATGCATG...
2,chr2L,14677,14877,position_25,2,CAGAGTTCCTCTTCAAGTAGTACAACAAGAACTTCAGCGACATCTC...
3,chr2L,14716,14916,position_26,2,CACAAAGTTTTTTAGATGTGTACTAATTTCTCGTTCTTTTAGATCC...
4,chr2L,21682,21882,position_31,2,CTTTAGTGCACATGAAATTATATGTATTGAAATAAAAAGTTTGATG...

In [3]:
df_eTSS.columns=['chr','start','end','TSS_num','responsiveness','strand','sequence']
df_eTSS.head()

,chr,start,end,TSS_num,responsiveness,strand,sequence
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...
1,chr2L,66994,67094,TSS_2980,9.177135,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...
2,chr2L,72550,72650,TSS_6539,2.838812,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...
3,chr2L,84135,84235,TSS_11273,1.755094,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...
4,chr2L,87332,87432,TSS_2518,12.021107,-,GAAGCCAGCCGGTCCCTGGCGCAGGCCATTTCAATCCGCAAGATAT...

In [4]:
#convert into 5mers
#chop the sequence into 5-mers
mers=5
def chopseq(line):return [line[i:i+mers] for i in range(0, len(line), mers)]

df_eTSS['five_mers_list']=df_eTSS['sequence'].map(chopseq)

#convert list of 5-mers into a long string with spaces in between
def listToString(s):  
    # initialize an empty string 
    str1 = " " 
    # return string   
    return (str1.join(s)) 

df_eTSS['five_mers_str']=df_eTSS['five_mers_list'].map(listToString)

#remove nucleotide shorter than 5-mers
def remove_short(line):
    new_string = ' '.join([w for w in line.split() if len(w)==mers])
    return new_string

df_eTSS['five_mers_str']=df_eTSS['five_mers_str'].map(remove_short)

df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_str
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...",AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...

In [5]:
#tokenize the 5-mers
#as per https://stackoverflow.com/questions/51347828/how-to-encode-words-in-a-list-in-python
class AutoId:
    def __init__(self, **kwargs):
        self.di = kwargs.get("di", {})
        self.loc = 0
    def get(self, value):
        if value not in self.di:
            self.di[value] = self.loc
            self.loc += 1
        return self.di[value]
    def get_list(self, li):
        return [*map(self.get, li)]

encoding = AutoId()
df_eTSS['five_mers_tokens']=df_eTSS['five_mers_list'].map(encoding.get_list)

In [6]:
df_eTSS.head(10)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_str,five_mers_tokens
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...",AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,chr2L,66994,67094,TSS_2980,9.177135,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...,"[TGTGT, GAGTG, GTGAG, TGTAA, TGGCA, AACGG, CAG...",TGTGT GAGTG GTGAG TGTAA TGGCA AACGG CAGCA ACAT...,"[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 2..."
2,chr2L,72550,72650,TSS_6539,2.838812,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...,"[AAAAC, CGCAT, TTGCA, TCGGG, TAAAA, TCGGT, AAC...",AAAAC CGCAT TTGCA TCGGG TAAAA TCGGT AACCC CATC...,"[39, 40, 41, 42, 43, 44, 45, 46, 41, 47, 48, 4..."
3,chr2L,84135,84235,TSS_11273,1.755094,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...,"[CCAGT, TCGGA, AAGCG, AAGGC, GGAGA, CGACT, TGG...",CCAGT TCGGA AAGCG AAGGC GGAGA CGACT TGGTC GTCG...,"[58, 59, 60, 61, 62, 63, 64, 65, 66, 11, 67, 6..."
4,chr2L,87332,87432,TSS_2518,12.021107,-,GAAGCCAGCCGGTCCCTGGCGCAGGCCATTTCAATCCGCAAGATAT...,"[GAAGC, CAGCC, GGTCC, CTGGC, GCAGG, CCATT, TCA...",GAAGC CAGCC GGTCC CTGGC GCAGG CCATT TCAAT CCGC...,"[77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 8..."
5,chr2L,95534,95634,TSS_4396,4.803458,+,ATTTGAAGAGGCGTTCGCTTATAAAAGCGAGAGCTGCACTCCAAGT...,"[ATTTG, AAGAG, GCGTT, CGCTT, ATAAA, AGCGA, GAG...",ATTTG AAGAG GCGTT CGCTT ATAAA AGCGA GAGCT GCAC...,"[96, 97, 98, 99, 100, 101, 102, 103, 104, 105,..."
6,chr2L,107826,107926,TSS_7540,2.403710,+,GTTCAAAACCACAGTGAGTATAAAATAAAGGATCTGGATCTAGATT...,"[GTTCA, AAACC, ACAGT, GAGTA, TAAAA, TAAAG, GAT...",GTTCA AAACC ACAGT GAGTA TAAAA TAAAG GATCT GGAT...,"[117, 118, 10, 119, 43, 120, 121, 122, 123, 12..."
7,chr2L,108083,108183,TSS_212,127.603917,+,GCCCGCTCTCTCGTTGGAGGTATAAATTCTGAATGGCATTAAAAAG...,"[GCCCG, CTCTC, TCGTT, GGAGG, TATAA, ATTCT, GAA...",GCCCG CTCTC TCGTT GGAGG TATAA ATTCT GAATG GCAT...,"[133, 134, 135, 136, 137, 138, 139, 140, 141, ..."
8,chr2L,108137,108237,TSS_10907,1.755094,+,TTTTTCTTCAGAACCGTCGCTAAGATAGGACGTGTGTTGGCTGCGC...,"[TTTTT, CTTCA, GAACC, GTCGC, TAAGA, TAGGA, CGT...",TTTTT CTTCA GAACC GTCGC TAAGA TAGGA CGTGT GTTG...,"[150, 151, 152, 153, 154, 155, 156, 157, 3, 15..."
9,chr2L,120581,120681,TSS_3308,7.645974,-,TACCCGGACCGTCAGATCTCCGGGCCGTCGTTGAAGTCAGACGACT...,"[TACCC, GGACC, GTCAG, ATCTC, CGGGC, CGTCG, TTG...",TACCC GGACC GTCAG ATCTC CGGGC CGTCG TTGAA GTCA...,"[165, 166, 88, 167, 168, 169, 170, 88, 171, 47..."

In [7]:
len(encoding.di)

1028

In [17]:
df_eTSS_ready=df_eTSS[['responsiveness','five_mers_tokens']]
df_eTSS_ready.columns = ['y', 'X']
df_eTSS_ready.head()

           y                                                  X
0   3.711228  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1   9.177135  [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 2...
2   2.838812  [39, 40, 41, 42, 43, 44, 45, 46, 41, 47, 48, 4...
3   1.755094  [58, 59, 60, 61, 62, 63, 64, 65, 66, 11, 67, 6...
4  12.021107  [77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 8...

In [71]:
import numpy as np
import numpy
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
X = df_eTSS_ready['X']
y =  df_eTSS_ready['y']

In [76]:
type(X)

pandas.core.series.Series

In [75]:
X[:1]

0    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Name: X, dtype: object

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [58]:
df_eTSS_ready['X']

0        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1        [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 2...
2        [39, 40, 41, 42, 43, 44, 45, 46, 41, 47, 48, 4...
3        [58, 59, 60, 61, 62, 63, 64, 65, 66, 11, 67, 6...
4        [77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 8...
                               ...
13212    [141, 673, 282, 973, 3, 641, 744, 87, 212, 296...
13213    [175, 184, 387, 395, 3, 243, 35, 21, 900, 817,...
13214    [656, 284, 620, 726, 368, 240, 27, 338, 884, 5...
13215    [777, 855, 326, 787, 628, 30, 211, 683, 302, 5...
13216    [658, 177, 574, 525, 580, 45, 0, 27, 540, 704,...
Name: X, Length: 13217, dtype: object

In [51]:
estimator = DecisionTreeClassifier(max_leaf_nodes=3, random_state=0)
estimator.fit(X_train, y_train)

ValueError: setting an array element with a sequence.

In [33]:
iris = load_iris()
X = iris.data
y = iris.target

In [34]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [35]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [36]:
type(y)

numpy.ndarray

In [37]:
type(X)

numpy.ndarray