In [1]:
import requests
import pandas as pd

In [2]:
#download zfh1 count, ctrl count and enhancer-responsiveness
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/plus_1_pos.txt"
r = requests.get(url, allow_redirects=True)

open('plus_1_pos.txt','wb').write(r.content)

eTSSrpve = pd.read_csv('plus_1_pos.txt', sep="\t", header=None)[1:]
eTSSrpve.columns = ["chr", "start", "end", "TSS_num","strand","zfh1_count","ctrl_count","responsiveness"]
eTSSrpve.head()

     chr  start    end    TSS_num strand zfh1_count ctrl_count responsiveness
1  chr2L  12815  12816  TSS_10945      +          5          0  1.75509432621
2  chr2L  59243  59244   TSS_5268      -         14          0  3.71122827673
3  chr2L  67043  67044   TSS_2980      +         39          1  9.17713509827
4  chr2L  72599  72600   TSS_6539      +         10          0  2.83881166131
5  chr2L  84184  84185  TSS_11273      -          5          0  1.75509432621

In [4]:
#download subthreshold position

sub='4'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub4 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='3'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub3 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='2'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub2 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

colnames = ["chr", "start", "end", "TSS_num","zfh1_count","strand","responsiveness"]
    
sub4.columns = colnames
sub3.columns = colnames
sub2.columns = colnames
sub2.head()

     chr  start    end      TSS_num  strand zfh1_count  responsiveness
0  chr2L  12727  12828  position_13       2          +        1.134346
1  chr2L  14619  14720  position_24       2          +        1.134346
2  chr2L  14726  14827  position_25       2          +        1.134346
3  chr2L  14765  14866  position_26       2          -        1.134346
4  chr2L  21731  21832  position_31       2          -        1.134346

In [5]:
#download random positions
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_random.txt"
r = requests.get(url, allow_redirects=True)
open("positions_random.txt",'wb').write(r.content)
rand_pos = pd.read_csv("positions_random.txt", sep="\t", header=None)

rand_pos.columns = ["chr", "start", "end", "TSS_num","null","strand","responsiveness"]
rand_pos.head()

     chr  start    end TSS_num  null strand  responsiveness
0  chr2L  39268  39369  rTSS_1     1      -             1.0
1  chr2L  54484  54585  rTSS_3     1      +             1.0
2  chr2L  54812  54913  rTSS_4     1      -             1.0
3  chr2L  68702  68803  rTSS_5     1      +             1.0
4  chr2L  70511  70612  rTSS_6     1      +             1.0

In [ ]:
#download the sequence around the TSSes
!grabSequences_220920.sh

In [2]:
df2 = pd.read_csv('positons_zfh1_2_seq.txt.gz', compression='gzip', header=None,sep='\t')
df3 = pd.read_csv('positons_zfh1_3_seq.txt.gz', compression='gzip', header=None,sep='\t')
df4 = pd.read_csv('positons_zfh1_4_seq.txt.gz', compression='gzip', header=None,sep='\t')
df_eTSS = pd.read_csv('plus_1_pos_seq.txt.gz', compression='gzip',sep='\t')
df2.head()

,0,1,2,3,4,5
0,chr2L,12678,12878,position_13,2,ACCGGCGTTCAGCTGATCGACAGGGCTACCCGCCTGATCAAAAATA...
1,chr2L,14570,14770,position_24,2,GTACGACTTCAGAAGCAAGGTAATTGCAAGTGACAGCTGATGCATG...
2,chr2L,14677,14877,position_25,2,CAGAGTTCCTCTTCAAGTAGTACAACAAGAACTTCAGCGACATCTC...
3,chr2L,14716,14916,position_26,2,CACAAAGTTTTTTAGATGTGTACTAATTTCTCGTTCTTTTAGATCC...
4,chr2L,21682,21882,position_31,2,CTTTAGTGCACATGAAATTATATGTATTGAAATAAAAAGTTTGATG...

In [3]:
df_eTSS.columns=['chr','start','end','TSS_num','responsiveness','strand','sequence']
df_eTSS.head()

,chr,start,end,TSS_num,responsiveness,strand,sequence
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...
1,chr2L,66994,67094,TSS_2980,9.177135,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...
2,chr2L,72550,72650,TSS_6539,2.838812,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...
3,chr2L,84135,84235,TSS_11273,1.755094,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...
4,chr2L,87332,87432,TSS_2518,12.021107,-,GAAGCCAGCCGGTCCCTGGCGCAGGCCATTTCAATCCGCAAGATAT...

In [5]:
#convert into 5mers
#chop the sequence into 5-mers
mers=5
def chopseq(line):return [line[i:i+mers] for i in range(0, len(line), mers)]

df_eTSS['five_mers_list']=df_eTSS['sequence'].map(chopseq)

#convert list of 5-mers into a long string with spaces in between
def listToString(s):  
    # initialize an empty string 
    str1 = " " 
    # return string   
    return (str1.join(s)) 

df_eTSS['five_mers_str']=df_eTSS['five_mers_list'].map(listToString)

#remove nucleotide shorter than 5-mers
def remove_short(line):
    new_string = ' '.join([w for w in line.split() if len(w)==mers])
    return new_string

df_eTSS['five_mers_str']=df_eTSS['five_mers_str'].map(remove_short)

df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_str
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...",AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...

In [36]:
#tokenize the 5-mers
class AutoId:
    def __init__(self, **kwargs):
        self.di = kwargs.get("di", {})
        self.loc = 0
    def get(self, value):
        if value not in self.di:
            self.di[value] = self.loc
            self.loc += 1
        return self.di[value]
    def get_list(self, li):
        return [*map(self.get, li)]

encoding = AutoId()

In [30]:
df_eTSS['five_mers_tokens']=df_eTSS['five_mers_list'].map(encoding.get_list)

In [31]:
df_eTSS.head(1)

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_str,five_mers_tokens
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...",AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...,"[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2..."

In [32]:
df_eTSS['five_mers_tokens'].head(1)

0    [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...
Name: five_mers_tokens, dtype: object

In [33]:
df_eTSS['five_mers_str'].head(1)

0    AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...
Name: five_mers_str, dtype: object

In [35]:
df_eTSS

,chr,start,end,TSS_num,responsiveness,strand,sequence,five_mers_list,five_mers_str,five_mers_tokens
0,chr2L,59194,59294,TSS_5268,3.711228,-,AACTTGGTTGGCTGGCTGCGCTTGCCCAGAGTCTCAAGACACTCGT...,"[AACTT, GGTTG, GCTGG, CTGCG, CTTGC, CCAGA, GTC...",AACTT GGTTG GCTGG CTGCG CTTGC CCAGA GTCTC AAGA...,"[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2..."
1,chr2L,66994,67094,TSS_2980,9.177135,+,TGTGTGAGTGGTGAGTGTAATGGCAAACGGCAGCAACATTTATTTC...,"[TGTGT, GAGTG, GTGAG, TGTAA, TGGCA, AACGG, CAG...",TGTGT GAGTG GTGAG TGTAA TGGCA AACGG CAGCA ACAT...,"[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 4..."
2,chr2L,72550,72650,TSS_6539,2.838812,+,AAAACCGCATTTGCATCGGGTAAAATCGGTAACCCCATCTTTGCAT...,"[AAAAC, CGCAT, TTGCA, TCGGG, TAAAA, TCGGT, AAC...",AAAAC CGCAT TTGCA TCGGG TAAAA TCGGT AACCC CATC...,"[54, 55, 56, 57, 58, 59, 60, 61, 56, 62, 63, 6..."
3,chr2L,84135,84235,TSS_11273,1.755094,-,CCAGTTCGGAAAGCGAAGGCGGAGACGACTTGGTCGTCGAGCACGC...,"[CCAGT, TCGGA, AAGCG, AAGGC, GGAGA, CGACT, TGG...",CCAGT TCGGA AAGCG AAGGC GGAGA CGACT TGGTC GTCG...,"[72, 73, 74, 75, 76, 77, 78, 79, 80, 27, 81, 8..."
4,chr2L,87332,87432,TSS_2518,12.021107,-,GAAGCCAGCCGGTCCCTGGCGCAGGCCATTTCAATCCGCAAGATAT...,"[GAAGC, CAGCC, GGTCC, CTGGC, GCAGG, CCATT, TCA...",GAAGC CAGCC GGTCC CTGGC GCAGG CCATT TCAAT CCGC...,"[91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101,..."
...,...,...,...,...,...,...,...,...,...,...
13212,chrYHet,297905,298005,TSS_9362,2.186726,+,AAAAAAAAGGTCGGCGGCCTCTGCGTGGCCGAGTCAATCCCAGTAC...,"[AAAAA, AAAGG, TCGGC, GGCCT, CTGCG, TGGCC, GAG...",AAAAA AAAGG TCGGC GGCCT CTGCG TGGCC GAGTC AATC...,"[153, 685, 294, 985, 19, 653, 756, 101, 224, 3..."
13213,chrYHet,299102,299202,TSS_10869,1.970383,+,GGCTGCGGAAGCAGAGTCAACTGCGTCTGCAGTGCTGTGTCCATAC...,"[GGCTG, CGGAA, GCAGA, GTCAA, CTGCG, TCTGC, AGT...",GGCTG CGGAA GCAGA GTCAA CTGCG TCTGC AGTGC TGTG...,"[187, 196, 399, 407, 19, 255, 50, 36, 912, 829..."
13214,chrYHet,300828,300928,TSS_9363,2.186726,+,GCAACAGAGGCGTCTCTTAGGTGCGAGCGGCAGCACTGGTGACAGT...,"[GCAAC, AGAGG, CGTCT, CTTAG, GTGCG, AGCGG, CAG...",GCAAC AGAGG CGTCT CTTAG GTGCG AGCGG CAGCA CTGG...,"[668, 296, 632, 738, 380, 252, 42, 350, 896, 6..."
13215,chrYHet,340903,341003,TSS_6100,3.274777,+,TTGAGCTATCGAAAAAGCCCGCCTACGCTCCTAGCCTAAATTTGCA...,"[TTGAG, CTATC, GAAAA, AGCCC, GCCTA, CGCTC, CTA...",TTGAG CTATC GAAAA AGCCC GCCTA CGCTC CTAGC CTAA...,"[789, 867, 338, 799, 640, 45, 223, 695, 314, 6..."
13216,chrYHet,344384,344484,TSS_10870,1.970383,-,AAGCAATGTATGTGCGGGTTAGCTGAACCCAACTTCAGCACACTTT...,"[AAGCA, ATGTA, TGTGC, GGGTT, AGCTG, AACCC, AAC...",AAGCA ATGTA TGTGC GGGTT AGCTG AACCC AACTT CAGC...,"[670, 189, 586, 537, 592, 60, 16, 42, 552, 716..."